.modal {
  position: fixed;
  top: calc(50% - 5rem);
  background: white;
  width: 50%;
  height: 30%;
  padding: 1rem;
  box-shadow: 1px 1px 5px #888888;
}

.container {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;

}

.close{
  display: flex;
  justify-content: end;
  align-items: center;
  padding-bottom: 1rem;
}

.message {

width: 80%;
height: 30%;
margin: auto;
padding-top: 1rem;
text-align: center;
color: black;
font-size: 1rem;
font-family: "Montserrat", sans-serif;
background: transparent;
font-weight: 200;
}

.button__in__modal {
  width: 100%;
  height: 30%;
  display: flex;justify-content: center;
  align-items: center;
}


@media (min-height : 1024px)  {
        .modal {
          height: 15%;
        }
}
@media (max-width: 768px) {
   .modal {
    width: 80% ;
  } 
}

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}

@media (max-width: 768px) {
  /* .modal {
    align-items: center;
    left: 10%;
    width: 70%;
  }
  .modal__header {
    padding-left: 20px;
  } */
}
/* .modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
} */
