.avatar {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.for__client {
    border-raius: 50%;
    width: 30%;
    padding: 1rem;
}

.about-image {
    border-radius: 0;
    width: 100%;
    object-fit:cover;
}


@media (max-width : 1000px) {
    .for__client {
        width: 40%;
    }
}
@media (max-width: 804px) {
    .for__client {
        width: 50%;
    
}
}