.about-carousel {
    width: 100%!important;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

h3 {
    display: flex;
    justify-content: center;
}

